.App {
  text-align: center;
  height: 100vh;
  background-color: #E0ECF8;
  display: flex;
  flex-direction: column;
}

button {
  padding: 16px 32px;
  background-color: grey;
}

button:hover {
  background-color: green;
  color: white;
  transition-duration: 0.4s;
  cursor: pointer;
}

.court {
  height: 512px;
  width: 370px;
  align-self: center;
}

.header {
  background-color: white;
  height: 30vh;
  width: 95%;
  align-self: center; 
}

.headline {
  padding-top: 30px;
  padding-bottom: 25px;
  font-size: 45px;
}

.body {
  display: flex;
  flex-direction: column;
}

.date {
  padding: 10px;
}

.container {
  background-color: white;
  display: flex;
  padding: 0;
}

.container > li {
  padding: 10px;
  text-align: center;
  list-style-type: none;
}

.container > li.reserve {
  text-align: left;
  color: orange;
}

.reserve {
  flex: 1;
}


@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
    text-align: center;
  }

  .container > li {
    flex-basis: 100%;
  }

  .container > li.reserve {
    text-align: center;
  }

  .date {
    padding-top: 25px;
  }
}

@media all and (max-width: 400px) {
  .container > li {
    flex-basis: 100%;
    text-align: center;
  }

  .date {
    padding-top: 125px;
  }
}


